<!DOCTYPE HTML>
<!--
   Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
   <head>
      <title>APPY</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/skel-panels.min.js"></script>
      <script src="js/init.js"></script>
      <noscript>
         <link rel="stylesheet" href="css/skel-noscript.css" />
         <link rel="stylesheet" href="css/style.css" />
         <link rel="stylesheet" href="css/style-desktop.css" />
      </noscript>
   </head>
   <body class="homepage">


            <!-- Logo -->
            <div id="logo">
               <h1><a href="#">APPY</a></h1>
               <span class="tag">Ak</span>
            </div>
         </div>
      </div>

         <!-- Featured -->
      <div id="featured">
         <div class="container">
            <header>
               <h2>Welcome to APPY</h2>
            </header>
            <p>This is <strong> HAPPY APPY </strong>. Released to bring a non-negative experience </p>
            <hr />
            <html>
            <head>
               <link rel="stylesheet" href="css/halfscreen.css" type="text/css">
               <body>

              </div>
               </div>
               <div class='right'>

               <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I know I&#39;m not cool enough to understand, but why does drake just get to claim a month of the year to himself</p>&mdash; Ryan Anderson (@RYANDERSON4) <a href="https://twitter.com/RYANDERSON4/status/573152184071786496">March 4, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/AkshayK1_">@AkshayK1_</a> that is the cutest picture of u, and I don&#39;t compliment often</p>&mdash; MIA (@bushraaaaa2) <a href="https://twitter.com/bushraaaaa2/status/609493574875373568">June 12, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              <blockquote class="twitter-video" lang="en"><p lang="en" dir="ltr">I be too hype for no reason <a href="http://t.co/bKFJ9HWvhT">pic.twitter.com/bKFJ9HWvhT</a></p>&mdash; Casey Dri. (@LeanandCuisine) <a href="https://twitter.com/LeanandCuisine/status/608282120428109824">June 9, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It&#39;s gonna be a good week</p>&mdash; Trisha Armeña (@500daysoftrisha) <a href="https://twitter.com/500daysoftrisha/status/605791820879007747">June 2, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Bill Nye never let us down. This is hella important <a href="http://t.co/h3jvgP3eFU">pic.twitter.com/h3jvgP3eFU</a></p>&mdash; Ellen Reacts (@EIIenReacts) <a href="https://twitter.com/EIIenReacts/status/603252898160607232">May 26, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


      <br>
    </div>
    <div class='left'>
   like
   </div>
  </body>
</html>






            <div class="row">
               <section class="4u">
                  <span class="pennant"><span class="fa fa-briefcase"></span></span>



            </div>
         </div>
      </div>

   <!-- Main -->
      <div id="main">
         <div id="content" class="container">



         </div>
      </div>

   <!-- Tweet -->
      <div id="tweet">
         <div class="container">
            <section>
               <blockquote>&ldquo;Life is all about how you see things..&rdquo;</blockquote>
            </section>
         </div>
      </div>

   <!-- Footer -->
      <div id="footer">
         <div class="container">
            <section>
               <header>
                  <h2>Get in touch</h2>
                  <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
               </header>
               <ul class="contact">
                  <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                  <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                  <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
                  <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
               </ul>
            </section>
         </div>
      </div>

   <!-- Copyright -->
      <div id="copyright">
         <div class="container">
            Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
         </div>
      </div>

   </body>
</html>
